.col-md-12 {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: px;
    padding-top:60px;
}

.card-img-jardin2 {
     border-radius: 20px;
     max-width: 100%;
     height: auto;
     width: auto;
}

.card-img-carnavalet {
     border-radius: 20px;
     max-width: 100%;
     height: auto;
     width: auto;
}

.card-img-pantheon {
     border-radius: 20px;
     max-width: 100%;
     height: auto;
     width: auto;
}

.card-img-germain {
     border-radius: 20px;
     max-width: 100%;
     height: auto;
     width: auto;
}

.card-img-seventh {
     border-radius: 20px;
     max-width: 100%;
     height: auto;
     width: auto;
}

.card-img-eighth {
     border-radius: 20px;
     max-width: 100%;
     height: auto;
     width: auto;
}

.card-img-nineth {
     border-radius: 20px;
     max-width: 100%;
     height: auto;
     width: auto;
}
.card-img-teneleven {
     border-radius: 20px;
     max-width: 100%;
     height: auto;
     width: auto;
}
.card-img-eighteenth {
     border-radius: 20px;
     max-width: 100%;
     height: auto;
     width: auto;
}

.card-text-7th {
    margin-right: 100px;
}
#deckmargin {
    margin-top: 40px;
}